*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:sans-serif;
  background:#fafaf8;
  color:#111;
}
*{
  cursor:none;
}

.custom-cursor{
  position:fixed;

  width:22px;
  height:22px;

  border-radius:50%;

  background:
  rgba(255,102,2,.9);

  pointer-events:none;

  z-index:99999;

  transform:
  translate(-50%,-50%);

  transition:
  width .2s ease,
  height .2s ease,
  background .2s ease;

  box-shadow:
  0 0 24px rgba(255,102,2,.55);
}
html.lenis{
  height:auto;
}

.lenis.lenis-smooth{
  scroll-behavior:auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent]{
  overscroll-behavior:contain;
}

.lenis.lenis-stopped{
  overflow:hidden;
}
.loader{
  position:fixed;

  inset:0;

  background:#050505;

  display:flex;
  align-items:center;
  justify-content:center;

  z-index:999999;
}

.loader-logo{
  color:white;

  font-size:5rem;

  font-weight:900;

  letter-spacing:-3px;
}

.loader-logo span{
  color:#ff6602;
}
.particles{
  position:fixed;

  inset:0;

  overflow:hidden;

  pointer-events:none;

  z-index:0;
}

.particle{
  position:absolute;

  bottom:-40px;

  border-radius:50%;

  background:
  rgba(255,255,255,.08);

  animation:
  floatParticle linear infinite;

  filter:blur(1px);
}

@keyframes floatParticle{

  0%{
    transform:
    translateY(0px)
    scale(1);

    opacity:0;
  }

  10%{
    opacity:1;
  }

  90%{
    opacity:1;
  }

  100%{
    transform:
    translateY(-120vh)
    scale(1.4);

    opacity:0;
  }
}
.spotlight{
  position:fixed;

  width:500px;
  height:500px;

  border-radius:50%;

  pointer-events:none;

  z-index:0;

  background:
  radial-gradient(
    circle,
    rgba(255,102,2,.10),
    transparent 70%
  );

  mix-blend-mode:screen;

  transition:
  left .08s linear,
  top .08s linear;

  filter:blur(20px);
}
