*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:sans-serif;
  background:#fafaf8;
  color:#111;
}
*{
  cursor:none;
}

.custom-cursor{
  position:fixed;

  width:22px;
  height:22px;

  border-radius:50%;

  background:
  rgba(255,102,2,.9);

  pointer-events:none;

  z-index:99999;

  transform:
  translate(-50%,-50%);

  transition:
  width .2s ease,
  height .2s ease,
  background .2s ease;

  box-shadow:
  0 0 24px rgba(255,102,2,.55);
}
html.lenis{
  height:auto;
}

.lenis.lenis-smooth{
  scroll-behavior:auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent]{
  overscroll-behavior:contain;
}

.lenis.lenis-stopped{
  overflow:hidden;
}
